body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

.Spaceship {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
    
  }